<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>listAll</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.listAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addClient</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.addClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayClient</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.displayClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteConfirm</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.deleteConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayModifierClient</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.displayModifierClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doModifier</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.doModifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allComptes</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.allComptes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCompte</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.addCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCompteConfirm</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.deleteCompteConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCompte</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.deleteCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifierCompte</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.modifierCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doModifierCompte</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.doModifierCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanqueController</servlet-name>
        <servlet-class>ch.hearc.ig.ta.servlets.BankController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listAll</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addClient</servlet-name>
        <url-pattern>/addClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayClient</servlet-name>
        <url-pattern>/afficherClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteConfirm</servlet-name>
        <url-pattern>/deleteConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayModifierClient</servlet-name>
        <url-pattern>/modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doModifier</servlet-name>
        <url-pattern>/doModifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allComptes</servlet-name>
        <url-pattern>/allComptes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCompte</servlet-name>
        <url-pattern>/addCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCompteConfirm</servlet-name>
        <url-pattern>/deleteCompteConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCompte</servlet-name>
        <url-pattern>/deleteCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifierCompte</servlet-name>
        <url-pattern>/modifierCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doModifierCompte</servlet-name>
        <url-pattern>/doModifierCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanqueController</servlet-name>
        <url-pattern>/BanqueController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
