/* 
    Created on : 10 avr. 2015, 02:05:54
    Author     : fabien.maitre1
*/
body {
    padding-top: 50px;
}

a.navbar-brand{
  padding: 0px;
  padding-right: 14px;
}

a.navbar-brand > img{
  height: 50px;
}